* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#game-container {
  height: calc(100vh - 4rem);
}

#canal {
  background-color: transparent;
  height: 50%;
  background-size: cover;
  top: 0px;
  left: 0px;
}

#water {
  background-color: aqua;
  height: 50%;
  z-index: -1;
  border-top: 2px solid black;
}

.fisher-wrapper {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 41%;
  left: 49%;
}

#fisher {
  width: 100px;
  /*z-index: 1;
  top: 41%;
  left: 49%;
  position: absolute; */
}

.scooter {
  position: absolute;
  height: 100px;
  width: 100px;
  /* top: 500px; */
  /* left: 100vw; */
  background-image: url("./images/lime-e-scooter-ipe.png");
  background-size: cover;
}

#line {
  border-left: 1px solid black;
  height: 200px;
  position: absolute;
  left: 7%;
  top: 50%;
}

.hook {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(./images/fish-hook.png);
  background-size: cover;
  position: absolute;
  left: -10px;
  bottom: -10px;
}

#play-score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4rem;
  align-items: center;
}

#play {
  width: 200px;
  height: 50px;
}

#logo {
  height: 250px;
  margin-left: 40%;
  margin-top: 80px;
  opacity: 50%;
  z-index: -1;
}
