* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

#game-container {
  height: calc(100vh - 4rem);
}

#canal {
  background-color: transparent;
  height: 50%;
  background-size: cover;
  top: 0px;
  left: 0px;
}

#water {
  background-color: darkolivegreen;
  opacity: 75%;
  height: 50%;
  z-index: -1;
  border-top: 2px solid darkolivegreen;
}

.fisher-wrapper {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 41%;
  left: 49%;
}

#fisher {
  width: 100px;
}

.scooter {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url("./images/lime-e-scooter-ipe.png");
  background-size: cover;
}

#line {
  border-left: 1px solid black;
  height: 200px;
  position: absolute;
  left: 7%;
  top: 50%;
  z-index: 1;
}

.hook {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(./images/fish-hook.png);
  background-size: cover;
  position: absolute;
  left: -10px;
  bottom: -10px;
  z-index: 1;
}

#play-score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4rem;
  align-items: center;
  color: grey;
}

#play {
  width: 200px;
  height: 50px;
  border-color: darkolivegreen;
  color: darkolivegreen;
  border-radius: 25% 10%;
  font-weight: bold;
}

#logo {
  height: 250px;
  margin-left: 45%;
  margin-top: 80px;
  opacity: 50%;
  z-index: -1;
}

#intro {
  text-align: center;
  justify-content: center;
  line-height: 2rem;
  color: grey;
  border-color: darkolivegreen;
  & h1 {
    color: darkolivegreen;
  }
  border-radius: 25% 10%;
}

#sounds-good {
  border-color: darkolivegreen;
  color: darkolivegreen;
  border-radius: 25% 10%;
}

#span {
  font-weight: bold;
  color: darkolivegreen;
}

#annie {
  line-height: normal;
  font-weight: bold;
}

#modal {
  text-align: center;
  justify-content: center;
  line-height: 2rem;
  color: grey;
  border-color: darkolivegreen;
  border-radius: 25% 10%;
  height: 600px;
  width: 700px;
  & > div {
    display: flex;
    flex-direction: column;
  }
}

#try-again {
  border-color: darkolivegreen;
  color: darkolivegreen;
  border-radius: 25% 10%;
  width: 150px;
  margin: 0 auto;
}

#credit {
  font-size: 0.5rem;
}

.hidden {
  display: none;
}
